<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        zabbix管理
        <small>zabbix媒介列表</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">媒介管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid" id="zabbix_media_list">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form id="search_form">
                    <div class="box-header">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <div class="input-group input-group-sm" style="width:150px;">
                                <input type="text" name="keyword" class="form-control" placeholder="Search" v-model="keyword">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" @click="get_media_list()"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>媒介名称</th>
                            <th>媒介状态</th>
                            <th>所属环境</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="line in media_list">
                                <td v-text="line.MediaName"></td>
                                <td><span v-if="!line.MediaStatus" class="label label-success">有效</span><span v-else class="label label-danger">无效</span></td>
                                <td v-text="line.Type"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pagination" class="pull-right"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- 页面内容结束 -->
</section>