<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        zabbix管理
        <small>zabbix主机列表</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{urlfor "HomeController.Index"}}">
                <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">主机管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid" id="zabbix_host_list">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form id="search_form">
                    <div class="box-header">
                        <div class="col-sm-2" v-if="owned_permissions.add_host">
                            <button type="button" class="btn btn-primary btn-sm" style="margin-left:-15px" data-target="#AddHostModal" data-toggle="modal" @click="load_data()">添加zabbix主机</button>
                        </div>
                        <div class="col-sm-2" v-else></div>
                        <div class="col-sm-2" v-if="owned_permissions.mass_delete_host"><button type="button" class="btn btn-danger btn-sm" style="margin-left:-90px" @click="mass_delete_host()">批量删除主机</button></div>
                        <div class="col-sm-2" v-else></div>
                        <div class="col-sm-6"></div>
                        <div class="col-sm-2">
                            <div class="input-group input-group-sm" style="width:150px">
                                <input type="text" name="keyword" class="form-control" placeholder="Search" v-model="keyword">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" @click="get_host_list()"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="theadInp"></th>
                            <th>主机名称</th>
                            <th>主机IP</th>
                            <th>所属主机组</th>
                            <th>所用模板</th>
                            <th>所属环境</th>
                            <th>主机状态</th>
                            <th v-if="owned_permissions.delete_host || owned_permissions.edit_host || owned_permissions.change_host">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="line in host_list">
                                <td><input type="checkbox"><input type="hidden" v-text="line.HostId"></td>
                                <td v-text="line.HostName" style="width:120px"></td>
                                <td v-text="line.Ip"></td>
                                <td v-if="line.GroupName" v-text="line.GroupName" style="width:150px"></td>
                                <td v-else>-</td>
                                <td v-if="line.TemplateName" v-text="line.TemplateName" style="width:460px"></td>
                                <td v-else>-</td>
                                <td v-text="line.Type" style="width:80px"></td>
                                <td style="width:80px"><span v-if="!line.HostStatus" class="label label-success">已启用</span><span v-else class="label label-danger">已禁用</span></td>
                                <td v-if="owned_permissions.delete_host || owned_permissions.edit_host || owned_permissions.change_host"><span class="btn btn-danger btn-sm" @click="delete_host(line.Id,line.HostId,line.Type)" v-if="owned_permissions.delete_host">删除</span> <span class="btn btn-primary btn-sm" @click="edit_host(line.Id,line.Type,line.GroupId,line.TemplateId,line.HostName,line.VisibleName)" data-target="#EditHostModal" data-toggle="modal" v-if="owned_permissions.edit_host">编辑</span> <span class="btn btn-warning btn-sm" v-if="!line.HostStatus" @click="change_status(line.HostId,line.HostStatus,line.Type)" v-show="owned_permissions.change_host">禁用</span><span class="btn btn-success btn-sm" v-else @click="change_status(line.HostId,line.HostStatus,line.Type)" v-show="owned_permissions.change_host">启用</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pagination" class="pull-right"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- 页面内容结束 -->
    <!--add host start-->
    <div class="modal fade" id="AddHostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加zabbix主机</h4>
                </div>
                <form role="form" id="addHostForm" class="form-horizontal">
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputHostName" class="col-sm-2 control-label">主机名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputHostName" name="HostName" placeholder="主机名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputVisibleName" class="col-sm-2 control-label">显示名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputVisibleName" name="VisibleName" placeholder="显示名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">接口方式</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="InterfaceAddr" name="InterfaceAddr">
                                        <option value="IP">IP</option>
                                        <option value="DNS">DNS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" v-if="InterfaceAddr == 'IP'">
                                <label for="inputInterfaceValue" class="col-sm-2 control-label">IP</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputInterfaceValue" name="InterfaceValue" placeholder="IP值">
                                </div>
                            </div>
                            <div class="form-group" v-if="InterfaceAddr == 'DNS'">
                                <label for="inputInterfaceValue" class="col-sm-2 control-label">DNS</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputInterfaceValue" name="InterfaceValue" placeholder="DNS值">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">接口类型</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="InterfaceType" name="InterfaceType">
                                        <option value="1">Agent</option>
                                        <option value="2">SNMP</option>
                                        <option value="3">IPMI</option>
                                        <option value="4">JMX</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">选择环境</label>
                                <div class="col-sm-10">
                                    <select class="form-control" @change="load_group_and_template()" v-model="environment" name="environment">
                                        <option value="cn">国内</option>
                                        <option value="foreign">国外</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">主机组</label>
                                <div class="col-sm-10">
                                    <select class="form-control" multiple name="GroupIds" id="GroupName" style="width: 100%;">
                                        <option v-for="line in host_group_list" :value="line.GroupId" v-text="line.GroupName"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">模板</label>
                                <div class="col-sm-10">
                                    <select class="form-control" multiple="multiple" name="TemplateIds" id="TemplateName" style="width: 100%;">
                                        <option v-for="line in template_list" :value="line.TemplateId" v-text="line.TemplateName"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                        <button type="submit" class="btn btn-primary">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--add host end-->
    <!--edit host start-->
    <div class="modal fade" id="EditHostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑zabbix主机</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="hostname" style="width:570px;margin-left:-10px" v-model="hostname">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="visible_name" style="width:570px;margin-left:-10px" v-model="visible_name">
                        </div>
                    </div>
                    <div class="box-group" id="accordion1">
                        <div class="panel box box-primary">
                            <div class="box-header with-border">
                                <h5 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                        更新主机组
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <label>已分配主机组（点击删除）</label>
                                    <select multiple="" class="form-control" id="allocateGroupName">
                                        <option v-if="owned_host_group_list.length==0">暂时没有分配主机组</option>
                                        <option v-for="(line,index) in owned_host_group_list" @click="remove_host_group(index)" :value="line.GroupId">${line.GroupName}</option>
                                    </select>
                                    <label>未分配主机组（点击增加）</label>
                                    <select multiple="" class="form-control">
                                        <option v-if="unowned_host_group_list.length==0">无主机组可分配</option>
                                        <option v-for = "(line,index) in unowned_host_group_list" @click="add_host_group(index)" :value="line.GroupId">${line.GroupName}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-group" id="accordion2">
                        <div class="panel box box-primary">
                            <div class="box-header with-border">
                                <h5 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        更新模板
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <label>已分配模板（点击删除）</label>
                                    <select multiple="" class="form-control" id="allocateTemplateName">
                                        <option v-if="owned_template_list.length==0">暂时没有分配模板</option>
                                        <option v-for="(line,index) in owned_template_list" @click="remove_template(index)" :value="line.TemplateId">${line.TemplateName}</option>
                                    </select>
                                    <label>未分配模板（点击增加）</label>
                                    <select multiple="" class="form-control">
                                        <option v-if="unowned_template_list.length==0">无模板可分配</option>
                                        <option v-for = "(line,index) in unowned_template_list" @click="add_template(index)" :value="line.TemplateId">${line.TemplateName}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="box-group" id="accordion2">
                        <div class="panel box box-primary">
                            <div class="box-header with-border">
                                <h5 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                        更新接口
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <div class="form-group">
                                        <select class="form-control" multiple v-model="InterfaceTypeList" name="InterfaceTypeList">
                                            <option value=1>Agent</option>
                                            <option value=2>SNMP</option>
                                            <option value=3>IPMI</option>
                                            <option value=4>JMX</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" class="btn btn-primary" @click="modify_host()">save</button>
                </div>
            </div>
        </div>
    </div>
    <!--edit host end-->
</section>